/* @media screen and (min-width: 1280px) {
  .course-part-1 {
    background: linear-gradient(0deg, #9453ff, #9453ff),
      url(../../images/CourseList/first.png);
    background-blend-mode: soft-light, normal;
    text-align: left;
    display: flex;
  }
  .course-part-1 h1{
    color: #9453FF;
  }
  .course-part-1 p{
    color: #554766;
  }
} */
@media screen and (min-width: 1280px) {
  * {
    margin: 0;
    padding: 0;
  }
  .course-part-1 {
    background: linear-gradient(0deg, #9453ff, #9453ff),
      url(../../images/CourseList/first.png);
    background-blend-mode: soft-light, normal;
    text-align: left;
    display: flex;
    /* max-width: 1440px; */
    /* height: 334px; */
  }
  .course-part-1 h1 {
    color: #9453ff;
  }
  .course-part-1 p {
    color: #554766;
    width: 845px;
    height: 84px;
  }
  .coursePart1Left {
    margin: 96px 24px 96px 80px;
  }
  .coursePart1Right {
    margin: 22px 80px 22px 0;
  }
  .courseListDetails {
    display: flex;
    margin-top: 64px;
  }
  .listButton button {
    background-color: #f7f5fa;
    padding: 4px 8px;
    color: #9387a8;
    margin-right: 8px;
    border: 1px solid #cac1d8;
    border-radius: 4px;
    height: 28px;
  }
  .listButton {
    text-align: left;
    padding-left: 16px;
    margin-top: 20px;
  }
  .cart button {
    background-color: #9453ff;
    color: #ffffff;
    width: 167px;
    height: 40px;
    border-radius: 4px;
  }
  .listCourseTitle img {
    width: 300px;
    height: 180px;
  }
  .cart {
    display: flex;
    /* justify-content: space-between; */
    margin: 0 0 24px 16px;
  }
  .cart button {
    width: 167px;
    height: 40px;
    margin-right: 8px;
  }
  .cart img {
    width: 40px;
    height: 40px;
  }
  .list {
    width: 300px;
    height: 408px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .listButton h3 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .listButton h1 {
    margin-bottom: 24px;
  }
  #search {
    width: 300px;
    height: 48px;
    border: 1px solid #cac1d8;
    border-radius: 4px;
  }
  .categoryOfCourse {
    padding: 0 40px 0 80px;
    text-align: left;
  }
  .categoryOfCourse p {
    color: #9387a8;
  }
  .skills {
    display: flex;
    margin-bottom: 16px;
  }
  .skillsAndLevels {
    margin-top: 24px;
  }
  .skillsAndLevels h3 {
    color: #362355;
  }
  .skillsAndLevels input {
    width: 20px;
    height: 20px;
  }
  .skill {
    margin-top: 18px;
  }
  .skills input {
    margin-right: 10px;
  }
  .skillAll{
    border-bottom: 1px solid #CAC1D8;
  }
  .levelAll{
    margin-top: 24px;
  }
}
