/* @media screen and (min-width: 1280px) {
  .course-part-1 {
    background: linear-gradient(0deg, #9453ff, #9453ff),
      url(../../images/CourseList/first.png);
    background-blend-mode: soft-light, normal;
    text-align: left;
    display: flex;
  }
  .course-part-1 h1{
    color: #9453FF;
  }
  .course-part-1 p{
    color: #554766;
  }
} */
.courseList {
  max-width: 1440px;
  margin: auto;
}
* {
  margin: 0;
  padding: 0;
}
.course-part-1 {
  background: linear-gradient(0deg, #9453ff, #9453ff),
    url(../../images/CourseList/first.png);
  background-blend-mode: soft-light, normal;
  text-align: left;
  display: flex;
  width: 100%;
  /* max-width: 1440px; */
  /* height: 334px; */
}
.course-part-1 h1 {
  color: #9453ff;
}
.course-part-1 p {
  color: #554766;
  max-width: 845px;
  height: 84px;
}
.coursePart1Left {
  margin: 96px 24px 96px 80px;
}
.coursePart1Right {
  margin: 22px 80px 22px 0;
}
.courseListDetails {
  display: flex;
  margin-top: 64px;
}
.listButton button {
  background-color: #f7f5fa;
  padding: 4px 8px;
  color: #9387a8;
  margin-right: 8px;
  border: 1px solid #cac1d8;
  border-radius: 4px;
  height: 28px;
}
.listButton {
  text-align: left;
  padding-left: 16px;
  margin-top: 20px;
}
.cart button {
  background-color: #9453ff;
  color: #ffffff;
  width: 167px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: none;
}
.cart button:hover {
  background-color: #9453ff;
  color: #ffffff;
  width: 167px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 4px solid #9453ff;
  box-shadow: 0 0 5px #9453ff;
}
.listCourseTitle {
  text-align: left;
}
.listCourseTitle img {
  width: 300px;
  height: 180px;
}
.cart {
  display: flex;
  margin: 0 0 24px 16px;
}
.cart button {
  width: 167px;
  height: 40px;
  margin-right: 8px;
}
.cart img {
  width: 40px;
  height: 40px;
}
.listCourse {
  display: flex;
  flex-wrap: wrap;
}
.list {
  /* width: 33,3%; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
}
#linh {
  color: #362355;
}
.listButton h3 {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 268px;
  height: 48px;
}
.listButton h3:hover {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 268px;
  height: 48px;
  cursor: pointer;
  text-decoration: underline;
}
.listButton h1 {
  margin-bottom: 24px;
}
#search {
  width: 300px;
  height: 48px;
  border: 1px solid #cac1d8;
  border-radius: 4px;
}
.categoryOfCourse {
  padding: 0 40px 0 80px;
  text-align: left;
}
.categoryOfCourse p {
  color: #9387a8;
}
.skills {
  display: flex;
  margin-bottom: 12px;
}
.skillsAndLevels {
  margin-top: 24px;
}
.skillsAndLevels h3 {
  color: #362355;
}
.skillsAndLevels input {
  width: 20px;
  height: 20px;
}
.skill {
  margin-top: 18px;
  margin-bottom: 24px;
}
.skills input {
  margin-right: 10px;
}
.skillAll {
  border-bottom: 1px solid #cac1d8;
}
.levelAll {
  margin-top: 24px;
}
.pagination {
  width: 25%;
  margin: auto;
  margin-top: 40px;
}

.pagination a {
  color: black;
  float: left;
  width: 9px;
  height: 24px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #9453ff;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.categoryOfCourseMobile {
  display: none;
}
.listMobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .coursePart1Left {
    margin: 0px 24px 96px 80px;
  }
}
@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  .course-part-1 {
    display: block;
    max-height: 546px;
    text-align: center;
  }
  .coursePart1Left {
    width: 100%;
    padding-top: 40px;
    margin: 0;
  }
  .coursePart1Left h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  .coursePart1Left p {
    max-width: 343px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    margin: auto;
  }
  .coursePart1Right {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .coursePart1Right img {
    max-width: 343px;
    max-height: 250px;
  }
  .categoryOfCourse {
    display: none;
  }
  .courseListDetails {
    display: block;
  }
  .listCourse {
    display: block;
  }
  .categoryOfCourseMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 24px;
    max-width: 376px;
  }
  .categoryOfCourseMobile img {
    max-width: 28px;
    max-height: 28px;
  }
  .list {
    margin: 0;
    margin-bottom: 24px;
    box-shadow: none;
  }
  .listCourseTitle {
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .listButton {
    margin-top: 16px;
  }
  .listButton h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
  #search {
    max-width: 251px;
    width: 251px;
  }
  .pagination {
    width: 176px;
    /* max-width: 252px; */
    /* margin: auto; */
    margin-top: 40px;
  }
  .pagination a {
    color: black;
    float: left;
    width: 9px;
    height: 24px;
    padding: 2px 10px;
    text-decoration: none;
    border-radius: 4px;
  }
  .listPC {
    display: none;
  }
  .listMobile {
    width: 90%;
    display: block;
    margin: auto;
  }
  .listCourseTitle img{
    width: 100%;
    height: 100%;
  }
  .cart img{
    width: 40px;
    height: 40px;
  }
}
