.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 1%;
  box-shadow: 1px 1px 5px black;
}
.navbar img {
  width: 10%;
  height: 10%;
}
.navbar-category {
  width: 40%;
  display: flex;
  align-items: center;
}
.navbar-right img {
  width: 30px;
  height: 26px;
}
.navbar-right {
  width: 269px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-category a {
  color: #9387a8;
  margin: auto;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 2%; */
}
.navbar-right button {
  background-color: #9453ff;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  width: 100px;
  height: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
#btn-left {
  width: 100px;
  height: 48px;
  color: #9453ff;
  background-color: #ffffff;
  border: 1px solid #9453ff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.learningResources {
  margin: auto;
}
.learningResources img {
  width: 20px;
  height: 20px;
  margin: auto;
}
.badge {
  position: relative;
  /* display: inline-block; */
  width: 12px;
  height: 12px;
  padding: 8px 8px;
  background-color: #f44336;
  color: #fff;
  border-radius: 999px;
  font-size: 0.8em;
  right: 16px;
  bottom: 10px;
}
#addToCart {
  display: flex;
}
.cartAndMenu{
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar img {
    width: 40px;
    height: 40px;
  }
  .navbar {
    padding: 0%;
    height: 88px;
    justify-content: space-between;
    padding: 0 20px;
  }
  .navbar-category {
    display: none;
  }
  .navbar-right {
    display: none;
    width: 100%;
    height: 88px;
  }
  .navbar-mobile-right {
    display: flex;
    align-items: center;
    position: relative;
  }
  #logoPC {
    display: none;
  }
  .logoMobile {
    display: flex;
    align-items: center;
  }
  .cartAndMenu {
    display: flex;
    align-items: center;
  }
  .cartAndMenu img {
    width: 24px;
    height: 24px;
  }
  .menuDetails {
    border-radius: 4px;
  }
  .menuDetails li {
    display: block;
  }
  .menuDetails {
    position: absolute;
    background-color: #f9f9f9;
    width: 250px;
    height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 50px;
    right: -170px;
    z-index: 1;
    transform: translateX(-50%);
    transition: transform linear 0.2s;
  }
  .navbar-mobile-right h6 {
    cursor: pointer;
  }
  .menuDetails li{
    padding-top: 5px;
    height: 40px;
  }
  .menuDetails li:hover{
    background-color: #9387a8;
  }
  .course-part-1{
    display: block;
  }
}
