.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 1%;
  box-shadow: 1px 1px 5px black;
}
.navbar img {
  width: 10%;
  height: 10%;
}
.navbar-category {
  width: 40%;
  display: flex;
  align-items: center;
}
.navbar-right img {
  width: 30px;
  height: 26px;
}
.navbar-right {
  width: 269px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-category a {
  color: #9387a8;
  margin: auto;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 2%; */
}
.navbar-right button {
  background-color: #9453ff;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  width: 100px;
  height: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
#btn-left {
  width: 100px;
  height: 48px;
  color: #9453ff;
  background-color: #ffffff;
  border: 1px solid #9453ff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.learningResources {
  margin: auto;
}
.learningResources img{
    width: 20px;
    height: 20px;
    margin: auto;
  }
