#footer-bg img {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}
#footer {
  position: relative;
  margin-top: 12%;
}
.category {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 2% auto;
}
.category a {
  color: #ffffff;
}
.category a:hover {
  font-weight: bold;
}
#logo {
  margin-top: 18%;
}
.social-media {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
}
p {
  color: #ffffff;
}
.title p {
  color: #ffffff !important;
}
@media screen and (max-width: 768px) {
  #footer-bg img {
    position: absolute;
    width: auto;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 500px;
    z-index: -1;
  }
  .category {
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
  .social-media {
    width: 35%;
    margin-bottom: 24px;
  }
  .title{
    margin-top: 10%;
  }
  #logo{
    margin-top: 30%;
  }
}
